* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ccdbd8;
  --primary-light-color: #c7cdcb;
  --primary-dark-color: #afe6d4;
  --secondary-color: #b0a182;
  --poppins-font: "Poppins", sans-serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  font-family: var(--poppins-font);
  font-weight: 500;
  font-size: 1rem;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: 1s;
}

.btn:hover {
  background-color: var(--primary-dark-color);
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  padding: 0 10px;
  font-family: var(--poppins-font);
}

nav > div {
  flex-basis: 50%;
}

nav .left-side,
nav .right-side {
  display: flex;
  align-items: center;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 3px;
}

.logo h1 span {
  color: var(--secondary-color);
}

.logo img {
  height: 100%;
}

.menus {
  display: none;
  /* flex-grow: 1; */
}

.right-side .search {
  display: none;
}

.right-side {
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.cart {
  position: relative;
}

.cart-count {
  position: absolute;
  right: -15%;
  bottom: 80%;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.cart i {
  color: var(--secondary-color);
  font-size: 1.2rem;
}

/* banner design start  */

.banner {
  min-height: 300px;
  background: linear-gradient(to right, #e8e1de, #cfc4c0);
  margin: 12px 15px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.banner p {
  height: 120px;
  margin-top: 50px;
  font-family: var(--poppins-font);
  /* font-size: 2.2rem; */
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  padding-left: 15px;
  letter-spacing: 1px;
}

.banner img {
  height: 100%;
  width: 100%;
}

/* main part start  */

main {
  padding: 10px;
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.category-indicator {
  display: flex;
  align-items: center;
  gap: 8px;
}

.home-icon {
  color: var(--secondary-color);
}

.right-arrow-icon {
  font-size: 0.8rem;
  color: var(--secondary-color);
}

.selected-category-name {
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
  font-family: var(--poppins-font);
  font-size: 0.8rem;
  font-weight: 500;
}

.sort-by-section {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--primary-color);
  padding: 8px;
  border-radius: 3px;
  font-family: var(--poppins-font);
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

.sort-by-options {
  width: 100%;
  position: absolute;
  top: 110%;
  left: 0;
  background-color: var(--primary-color);
  padding: 5px;
  display: none;
}

.sort-by-options > div {
  margin-bottom: 6px;
  text-align: center;
}

.sort-by-options > div:hover {
  color: rgb(91, 90, 90);
}

.sidebar-and-products-section {
  display: flex;
  margin-top: 10px;
  height: 510px;
}

.category-sidebar {
  width: 35%;
  font-family: var(--poppins-font);
  font-weight: 500;
  background: linear-gradient(to right, #e8e1de, #e8ddd9);
  /* padding: 15px; */
  padding: 15px 6px;
  border-radius: 5px;
}

.category-sidebar-title {
  width: 100%;
  margin-bottom: 6px;
  background-color: var(--secondary-color);
  color: rgb(27, 27, 27);
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.89rem;
  text-align: center;
}

.category-sidebar-title i {
  display: none;
}

input[type="checkbox"] {
  accent-color: var(--secondary-color);
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.category-sidebar > div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 15px 0;
}

.category-sidebar label {
  font-size: 0.8rem;
  cursor: pointer;
}

.category-sidebar label:hover {
  color: rgb(99, 104, 101);
}

.products-section {
  width: 65%;
  height: 100%;
  /* background-color: green; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 5px;
  margin: 0 5px;
  overflow-y: auto;
}

.products-section::-webkit-scrollbar {
  width: 2px;
}
.products-section::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

.product {
  width: 100%;
  height: 100%;
  background-color: rgb(241, 238, 238);
  border-radius: 6px;
  margin-bottom: 15px;
}

.product-img {
  height: 50%;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.product-description {
  height: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-name {
  font-family: var(--poppins-font);
  font-size: 1.12rem;
  font-weight: 500;
  text-align: center;
  margin: 5px 0;
}

.rating-and-price-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.rating i {
  color: rgb(210, 174, 133);
  font-size: 0.87rem;
}

.rating-and-price-section p {
  font-family: var(--poppins-font);
  font-size: 1.1rem;
  font-weight: 600;
}

.add-to-cart-btn {
  width: 100%;
  margin: 5px auto;
  padding: 5px;
  font-size: 0.97rem;
}

.add-to-cart-btn:hover {
  background-color: var(--secondary-color);
}

/* product loading card  */

.product-loading {
  animation: blinkAnim 1s linear infinite;
}

@keyframes blinkAnim {
  50% {
    opacity: 0.5;
  }
}

.product-name-loading {
  width: 100%;
  height: 28%;
  background-color: rgb(202, 199, 199);
  border-radius: 5px;
}

.rating-and-price-section-loading {
  width: 100%;
  height: 28%;
  background-color: rgb(202, 199, 199);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rating-loading,
.price-loading {
  width: 45%;
  height: 80%;
  background-color: rgb(215, 214, 214);
  border-radius: 5px;
}

.btn-loading {
  width: 100%;
  height: 28%;
  background-color: rgb(202, 199, 199);
  border-radius: 5px;
  border: none;
  outline: none;
}

@media (min-width: 480px) {
  .banner p {
    font-size: 1.6rem;
  }
}

@media (min-width: 600px) {
  .right-side .search {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--primary-color);
    padding: 15px 18px;
    border-radius: 5px;
  }

  .search i {
    color: rgb(121, 121, 119);
  }

  #search {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--poppins-font);
  }

  .banner p {
    font-size: 2rem;
  }

  .category-sidebar {
    width: 25%;
  }

  .category-sidebar-title {
    font-size: 0.9rem;
  }

  .category-sidebar label {
    font-size: 0.9rem;
  }

  .products-section {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .banner p {
    font-size: 2.5rem;
  }

  .home-icon {
    font-size: 1.2rem;
  }

  .selected-category-name {
    font-size: 1rem;
  }

  .sort-by-section,
  .sort-by-options {
    font-size: 0.85rem;
  }

  .category-sidebar-title {
    font-size: 1rem;
  }

  .category-sidebar label {
    font-size: 1rem;
  }

  .products-section {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .product-name {
    font-size: 1.22rem;
  }

  .add-to-cart-btn {
    padding: 10px;
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .menus {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;
  }

  .categories {
    position: relative;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
  }

  .categories-list {
    position: absolute;
    top: 120%;
    left: 0;
    height: 0;
    overflow: hidden;
    background-color: var(--primary-color);
    /* padding: 8px; */
    padding: 0;
    font-size: 0.8rem;
    border-radius: 5px;
    /* opacity: 0; */
  }

  .categories-list > div {
    height: 25px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    transition: all 1s;
  }

  .categories-list > div img {
    height: 100%;
  }

  .categories-list > div p:hover {
    color: #8e8a8a;
  }

  .banner {
    flex-direction: row;
  }

  .banner img {
    width: 50%;
  }

  .banner p {
    margin-top: 0;
    font-size: 2rem;
    text-align: start;
  }

  .category-sidebar-title i {
    display: inline-block;
  }

  /* .category-sidebar-title {
    font-size: 1.1rem;
  } */

  /* .category-sidebar label {
    font-size: 1.2rem;
  } */
}
