* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ccdbd8;
  --primary-dark-color: #afe6d4;
  --secondary-color: #b0a182;
  --poppins-font: "Poppins", sans-serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  font-family: var(--poppins-font);
  font-weight: 500;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: 1s;
}

.btn:hover {
  background-color: var(--primary-dark-color);
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  padding: 0 10px;
  font-family: var(--poppins-font);
}

nav > div {
  flex-basis: 50%;
}

nav .left-side,
nav .right-side {
  display: flex;
  align-items: center;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 3px;
}

.logo h1 span {
  color: var(--secondary-color);
}

.logo img {
  height: 100%;
}

.menus {
  display: none;
  /* flex-grow: 1; */
}

.right-side .search {
  display: none;
}

.right-side {
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.cart {
  position: relative;
}

.cart-count {
  position: absolute;
  right: -15%;
  bottom: 70%;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.cart i {
  color: var(--secondary-color);
}

/* banner design start  */

.banner {
  min-height: 300px;
  background: linear-gradient(to right, #e8e1de, #cfc4c0);
  margin: 12px 15px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.banner p {
  height: 120px;
  margin-top: 50px;
  font-family: var(--poppins-font);
  /* font-size: 2.2rem; */
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  padding-left: 15px;
  letter-spacing: 1px;
}

.banner img {
  height: 100%;
  width: 100%;
}

@media (min-width: 480px) {
  .banner p {
    font-size: 1.6rem;
  }
}

@media (min-width: 600px) {
  .right-side .search {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--primary-color);
    padding: 15px 18px;
    border-radius: 5px;
  }

  .search i {
    color: rgb(121, 121, 119);
  }

  #search {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--poppins-font);
  }

  .banner p {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .banner p {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .menus {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;
  }

  .categories {
    position: relative;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
  }

  .categories-list {
    position: absolute;
    top: 120%;
    left: 0;
    height: 0;
    overflow: hidden;
    background-color: var(--primary-color);
    /* padding: 8px; */
    padding: 0;
    font-size: 0.8rem;
    border-radius: 5px;
    /* opacity: 0; */
  }

  .categories-list > div {
    height: 25px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    transition: all 1s;
  }

  .categories-list > div img {
    height: 100%;
  }

  .categories-list > div p:hover {
    color: #8e8a8a;
  }

  .banner {
    flex-direction: row;
  }
  .banner img {
    width: 50%;
  }
  .banner p {
    margin-top: 0;
    font-size: 2rem;
    text-align: start;
  }
}
